{% extends "base.html" %}

{% block title %}Cat King - Algorithm Pit{% endblock %}

{% block content %}
<body>
    <div class="text-center">
        <!-- <canvas id="gameCanvas" width="600" height="600" class="mx-auto"></canvas> -->
        <img src="{{ url_for('static', filename='shred.jpg') }}" alt="RIP" class="mt-4 mx-auto w-32">
        <img src="{{ url_for('static', filename='rip.jpg') }}" alt="RIP" class="mt-4 mx-auto w-32">
        <img src="{{ url_for('static', filename='bite.jpg') }}" alt="RIP" class="mt-4 mx-auto w-32">
    </div>
</body>
{% endblock %}
